@import '../../variables.scss';

.main {
    display: flex;
    // width: 80vw;


    form {
        display: flex;
        flex-wrap: wrap;
        width: 30vw;
        min-width: 12rem;
        justify-self: center;
        justify-items: center;
        align-items: center;
        flex-direction: row;
        gap: .3rem;
        justify-content: center;

        input {
            width: 100%;
            font-size: 1.2rem;

        }


        .select {
            padding: .1rem;
            width: 100%;
            font-size: 1.2rem;
            color: rgb(84, 84, 84);
        }


        .button {
            background-color: $clr-primary;
            color: aliceblue;
            font-size: medium;
            padding: 0.1rem;
            width: 7rem;
            border-radius: 5px;
        }

        span {
            color: red;
            font-size: 14px;
        }



    }
}

@media screen and (max-width:400px) {
    .main {

        // margin: 1rem 1rem 1rem 1rem;
        h3 {
            margin: 16px 16px 16px 16px;
            font-size: 1rem;
            text-align: center;
        }
    }

}