.home {
    display: flex;
    justify-content: center;
    height: 75vh;
    background-image: url(../../cool-background.png);

    h1 {
        font-size: 5rem;
        color: aliceblue;
        align-self: center;
        justify-self: center;
        margin: auto;
    }
}

@media screen and (max-width:400px) {
   .home{
    h1{
        font-size:2rem;
    }
   }
}